<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/blogs.css">
    <title>Blogs | Divyanshu Dugar</title>
  </head>
  <body>

    <%- include('partials/navbar',{page:'/blogs'}) %>

    <main>
      <div class="card-container">
        <% blogs.forEach(blog => { %>
        <div class="card bg-base-100 image-full w-96 shadow-xl">
          <figure>
            <img
              src=""
              alt="" />
          </figure>
          <div class="card-body">
            <h2 class="card-title"><%= blog.name %></h2>
            <p><%= blog.desc %></p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary"><a href="<%= blog.href %>"><%= blog.btn %></a></button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>
