<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/notes.css" />
    <title>Notes | Divyanshu Dugar</title>
  </head>
  <body>
    <%- include('partials/navbar',{page:'/notes'}) %>

    <!-- MAIN -->
    <main>
      <h2>Download Notes Below</h2>

      <div class="notesContainer">
        <% notes.forEach(function(note) { %>
          <div class="notes">
            <div class="image">
              <img src="<%= note.image %>" alt="<%= note.name %>" />
            </div>
            <div class="name">
              <h2><%= note.name %></h2>
            </div>
            <div class="desc">
              <p><%= note.desc %></p>
            </div>
            <div class="buttons">
              <button class="download"><%= note.buttonText %></button>
            </div>
          </div>
        <% }); %>
      </div>

      <hr>
      <h2>Download Cheat Sheets Below</h2>
      <div class="cheatSheets">
      <div class="notes">
        <div class="image">
          <img src="/Images/c.svg" alt="" />
        </div>
        <div class="name">
          <h2>C - Cheatsheet</h2>
        </div>
        <div class="desc">
          <p>WILL BE UPLOADED SOON!</p>
        </div>
        <div class="buttons">
          <button class="download">C Notes</button>
        </div>
      </div>
      <div class="notes">
        <div class="image2">
          <img src="/Images/c++.svg" alt="">
        </div>
        <div class="name">
          <h2>C++ - Cheatsheet</h2>
        </div>
        <div class="desc">
          <p>WILL BE UPLOADED SOON!</p>
        </div>
        <div class="buttons">
          <button class="download">C++ Notes</button>
        </div>
      </div>
      <div class="notes">
        <div class="image">
          <img src="/Images/java.svg" alt="">
        </div>
        <div class="name">
          <h2>Java - Cheatsheet</h2>
        </div>
        <div class="desc">
          <p>WILL BE UPLOADED SOON!</p>
        </div>
        <div class="buttons">
          <button class="download">PDF Notes</button>
        </div>
      </div>
      <div class="notes">
        <div class="image">
          <img src="/Images/js.svg" alt="">
        </div>
        <div class="name">
          <h2>JavaScript - Cheatsheet</h2>
        </div>
        <div class="desc">
          <p>WILL BE UPLOADED SOON!</p>
        </div>
        <div class="buttons">
          <button class="download">PDF Notes</button>
        </div>
      </div>
      <div class="notes">
        <div class="image">
          <img src="/Images/python.svg" alt="">
        </div>
        <div class="name">
          <h2>Python Notes</h2>
        </div>
        <div class="desc">
          <p>WILL BE UPLOADED SOON!</p>
        </div>
        <div class="buttons">
          <button class="download">PDF Notes</button>
        </div>
      </div>
      <div class="notes">
        <div class="image">
          <img src="/Images/sql.png" alt="">
        </div>
        <div class="name">
          <h2>SQL Notes</h2>
        </div>
        <div class="desc">
          <p>WILL BE UPLOADED SOON!</p>
        </div>
        <div class="buttons">
          <button class="download">PDF Notes</button>
        </div>
      </div>
      <div class="notes">
        <div class="image">
          <img src="/Images/html-5.png" alt="">
        </div>
        <div class="name">
          <h2>HTML Notes</h2>
        </div>
        <div class="desc">
          <p>WILL BE UPLOADED SOON!</p>
        </div>
        <div class="buttons">
          <button class="download">PDF Notes</button>
        </div>
      </div>
      <div class="notes">
        <div class="image">
          <img src="/Images/css-3.png" alt="">
        </div>
        <div class="name">
          <h2>CSS Notes</h2>
        </div>
        <div class="desc">
          <p>WILL BE UPLOADED SOON!</p>
        </div>
        <div class="buttons">
          <button class="download">PDF Notes</button>
        </div>
      </div>
      </div>
      </main>
    </main>
    <script src="/JS/notes.js"></script>
  </body>
</html>
